#exportPattern("^[^\\.]")

import(
    igraph,
    methods,
    sp
)

importFrom("graphics", "text")
importFrom("pracma",   "distmat")
#importFrom("rgeos", "gDistance", "gIntersection","gWithinDistance")
importFrom("sf", "st_coordinates", "st_distance", "st_intersection", "st_is_within_distance")
importFrom("shape", "Arrowhead")
importFrom("splancs", "n2dist")
importFrom("stats", "approx")

export(
       attSGe,
       distSG,
       distSGv,
       explodeSLDF,
       pointLineD,
       pointOnLine,
       pointOnSegment,
       pointsPolylineD,
       pointsSLDFchain,
       pointsToLines,
       polylineChainage,
       polylineLength,
       revSGe,
       rotation,
       routeSDG,
       sg2igraph,
       sgChVIDs,
       sl2sg,
       SpatialGraph,
       splitPolyline,
       splitSLDF,
       textSGe
)

exportClasses(
       SpatialGraph
)
